<!-- themes/your-theme/layout/custom_layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Haoxiang Wu</h1>
        <p>Computer Science and Technology Student at Zhejiang University</p>
    </header>

    <main>
        <%= body %>
    </main>

    <footer>
            <p>Contact: haoxiangwu6@gmail.com</p>
            <p>Alternate Contact: 3210104593@zju.edu.cn</p>
            <p>&copy; 2025 Haoxiang Wu</p>
    </footer>
</body>
</html>
